/dbdata-persistentvolume.yaml
/dbdata-persistentvolumeclaim.yaml
/nodeodm-service.yaml
/nodeodm.yaml
/ssl/asdc_erc_monash_edu.key
/ssl/asdc_erc_monash_edu.pem
/webapp-persistentvolume.yaml
/webapp-persistentvolumeclaim.yaml
/webapp-worker-pod.yaml
/Monash-Drone-openrc.sh
/cert.pem
/config
/key.pem
/kubectl
/auth0.env
/jupyterhub-config.yaml
/storage-classes.yaml
/jhubdb-persistentvolume.yaml
